*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    background-color: orangered;
    height: 100px;
}

.container{
    width: 70%;
    margin: 0 auto;
   
}

.row{
    width: 100%;
    display: flex;
}